<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <span class="navbar-brand">Dashboard</span>
       </div>
     </div>
   </nav>

   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
         <ul class="nav nav-sidebar">
           <li class="active"><a ui-sref=".dashboard">Overview <span class="sr-only">(current)</span></a></li>
           <li><a ui-sref=".singup">Sing Up</a></li>
           <li><a ui-sref=".form">Form</a></li>
           <li><a ui-sref=".settings">Settings</a></li>
         </ul>
       </div>

       <div class="col-sm-9 col-md-10">
            <div ui-view></div>
       </div>


     </div>
   </div>
